* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 1.6;
  font-family: 'GT Pressura';
  font-size: 16px;
  background: $background;
  color: $primary;
}


.Wrapper {
  padding: $padding;
  max-width: calc(#{$padding} + 1250px);
  width: 100%;
  margin: 0 auto;

  @media (max-width: $large) {
    padding: $padding_small;
  }

  @media (max-width: $small) {
    padding-top: 5px;
  }

  &.Wrapper--wide {
    max-width: none;
    padding: $padding 0 0 0;
    position: relative;

    @media (min-width: $large) {
      padding: 0;
    }

    @media (min-width: $small) {
      padding: 10px 0 0 0;
    }

    @media (max-width: $medium) {
      display: flex;
      flex-direction: column;
    }
  }
}


.outerPadding {
  padding: 30px 30px 15px 30px;

  @media (max-width: $medium) {
    padding: $padding_small;
  }
}

//homepage specific styles
.index {
  .Header-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    @media (max-width: $large) {
      position: static;
    }

    .logo {
      width: 181px;
      height: 112px;
      position: absolute;
      left: 50%;
      margin-left: -90px;

      @media (max-width: $large) {
        width: 154px;
        height: 92px;
        position: static;
        margin: 0 auto;
        display: block;
      }

      @media (max-width: $small) {
        width: 124px;
        height: 74px;
      }

      .light {
        display: block;
        @media (max-width: $large) {
          display: none;
        }
      }

      .dark {
        display: none;
        @media (max-width: $large) {
          display: block;
        }
      }
    }

    nav {
      a {
        color: white;
        @media (max-width: $large) {
          color: $primary
        }
      }
    }
  }
}

.Header-nav {
  width: 100%;
  z-index: 2;
  position: relative;
  @media (max-width: $medium) {
    margin-top: 10px;
  }

  @media (max-width: $small) {
    margin-top: 5px;
  }

  &:after {
    content: '';
    width: 80px;
    border-bottom: 1px solid $border;
    display: none;
    margin: 35px auto 0 auto;

    @media (max-width: $medium) {
      display: block;
    }

    @media (max-width: $small) {
      margin: 25px auto 0 auto;
      width: 60px;
    }
  }

  a {
    display: inline-block;

    @media (max-width: $medium) {
      margin: 0 auto;
      display: block!important;
    }
  }

  .logo{
    width: 154px;
    height: 92px;
    @media (max-width: $medium) {
      margin: 0 auto;
      display: block;
      float: none;
    }

    .light {
      display: none;
    }
  }

  nav {
    display: inline-block;
    float: right;
    margin-top: 25px;

    @media (max-width: $medium) {
      text-align: center;
      width: 100%;
      float: none;
    }

    @media (max-width: $small) {
      margin-top: 21px;
    }

    a {

      &.active {
        font-weight: bold;
      }
    }

    ul {
      li {
        margin-right: $ws5;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

 @keyframes kenBurns {
  from { transform: scale(1.0,1.0); transform-origin: 50% 50%; }
  to { transform: scale(1.12,1.12); transform-origin: 50% 50%; }
}

$slider-height: calc(100vh - #{$ws6});

.Slide-container {
  @media (max-width: $large) {
    display: none!important;
  }
  background-color: #111;
}

.index {
  .Slide-container, .slick-list {
    width: 100%;
    height: $slider-height;
    max-height: 1000px;
    overflow: hidden;
  }
}

.Slide {
  width: 100%;
  height: $slider-height;
  max-height: 1000px;
  background-size: cover;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  // animation: kenBurns 15s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  will-change: scale, transform;


  &.Slide--A {
    @media (min-width: $large) {
      background-image: image-url("slideA.jpg");
    }
  }

  &.Slide--B {
    @media (min-width: $large) {
      background-image: image-url("slideB.jpg");
    }
  }

  &.Slide--C {
    @media (min-width: $large) {
      background-image: image-url("slideC.jpg");
    }
  }
}

.index {
  .slick-list {
    overflow-y: -webkit-paged-y!important;
  }
}

.work {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .Wrapper.Wrapper--wide {
    flex: 1;
  }
}

.Slide-container-single {
  margin-top: 10px;
  width: calc(100% - 200px);
  float: right;

  @media (max-width: $xlarge) {
    float: none;
    width: 100%;
    margin-top: 10px;
  }

  img {
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
    height: 100%;

    &:focus {
      outline: 0;
    }
  }

  .slick-track {
    display: flex;

    .slick-slide {
      float: none;
      opacity: .4;
      will-change: opacity;
      transition: opacity .5s ease .1s;
      cursor: pointer;

      &:hover {
        opacity: .6;
      }

      &.slick-current {
        opacity: 1;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .slide-single {
    display: inline-block;
    height: auto;

    &:focus {
      outline: 0;
    }

    .slide-inner {
      padding: 0 16px;
      height: 100%;

      @media (max-width: $medium) {
        padding: 0 12px;
      }

      @media (max-width: $small) {
        padding: 0 8px;
      }
    }
  }
}

.down {
  position: absolute;
  top: calc( 100vh - 55px);
  left: 50%;
  width: 15px;
  height: 33px;
  background-size: 100%;
  margin-left: -7px;
  z-index: 2;
  background-repeat: no-repeat;
  @media (min-width: $large) {
    background-image: image-url("down.svg");
  }
}

.center {
  text-align: center;
}

.filter {
  margin: 0 auto;
  display: inline-block;
  font-weight: bold;

  @media (max-width: $small) {
    display: none;
  }
}


.tagsort-tags-container {
  margin-bottom: 20px;
    @media (max-width: $small) {
      text-align: left;
      display: flex;
      width: calc(100% + 30px);
      overflow-x: scroll;
      position: relative;
      left: -15px;
      padding: 0 15px;
      margin-top: 5px;

      &::-webkit-scrollbar {
        width: 0px;
        height: 0;
        background: transparent;
      }
    }

  li {
    cursor: pointer;
    color: $primary;
    border-bottom: 1px solid transparent;
    padding: 0 1px;
    margin: 0 15px;

    @media (max-width: $small) {
      border: 1px solid #afafaf;
      border-radius: 3px;
      padding: 2px 9px;
      margin: 0 5px 0 0;
      font-size: 15px;
      display: inline-block;
      white-space: pre;
    }

    &.tagsort-active {
      border-bottom: 1px solid $primary;

      @media (max-width: $small) {
        border: 1px solid $primary;
        background: $primary;
        color: white;
      }
    }
  }
}

.image_grid {
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;

    li {
      display: flex;
      padding: 10px;
      width: 50%;

      @media (max-width: $medium) {
        width: 100%;
      }

      @media (max-width: $small) {
        padding: 0 0 10px 0 ;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        opacity: 0;
        will-change: opacity;
        transition: opacity .6s ease;

        &.is-visible {
          opacity: 1;
        }
      }

      div {
        text-align: center;
        position: relative;
      }

      p {
        display: inline-block;
      }

      .new {
        color: $orange;
        margin-left: $ws2;
        padding-bottom: 2px;
      }

      a {
        position: relative;
        display: inline-table;

        &:before {
          content: '';
          transition: opacity .5s ease;
          will-change: opacity;
          content: '';
          top: 0;
          position: absolute;
          width: 100%;
          bottom: 32px;
          border-radius: 4px;
          left: 0;
          background: linear-gradient(to bottom, rgba(255, 155, 135, 0) 0%, rgba(1, 1, 1, 0.4) 100%);
          opacity: 0;
          mix-blend-mode: soft-light;
          z-index: 10;

          @media (max-width: $medium) {
            bottom: 32px;
          }
        }

        &:hover {
          text-decoration: none;

          &:before {
            opacity: 1;
          }
        }
      }
    }
}

h1.mobile{
  display: none;
  margin-bottom: 26px;
  padding: 0 25px;

  @media (max-width: $medium) {
    display: block;
  }
}

.piece_header {
  margin: 0 auto;
  width: 365px;
  text-align: left;
  clear: left;
  top: 0;
  bottom: 0;
  padding: 25px 37px 0 47px;
  position: absolute;
  z-index: 1;
  background: #fefcf8;
  border-radius: 0;

  @media (max-width: $xlarge) {
    position: static;
    margin: 0 auto 45px auto;
    width: 100%;
    padding: 0 115px;
    text-align: center;
  }

  @media (max-width: $medium) {
    padding: 0 40px;
    order: 2;
    margin-top: 30px;
  }

  @media (max-width: $small) {
    padding: 0 25px;

  }

  h1 {
    @media (max-width: $medium) {
      display: none;
    }
  }

  p {
    width: 100%;
    max-width: 600px;
    margin-top: 35px;

    @media (max-width: $xlarge) {
      text-align: center;
      margin: 25px auto 0 auto;
    }

    &:before {
      content: '';
      width: 45px;
      height: 1px;
      background: #a7a7a7;
      display: block;
      margin: 0 0 27px 0;

      @media (max-width: $xlarge) {
        display: none;
      }
    }
  }

  .buy {
    background: rgba(152, 152, 152, 0.00);
    border: 1px solid black;
    padding: 8px 19px;
    font-size: 17px;
    border-radius: 34px;
    display: inline-block;
    margin-top: 30px;
    transition: background .3s ease;
    will-change: background;

    @media (max-width: $xlarge) {
      border: 0;
      padding: 0;
      border-bottom: 1px solid;
      border-radius: 0;
      margin: 15px auto 0 auto;
      display: table;
    }

    &:hover {
      text-decoration: none;
      background: rgba(152, 152, 152, 0.08);
    }

    span {
      font-weight: bold;

      b {
        margin: 0 4px;
      }
    }
  }

  ul {
    @media (max-width: $xlarge) {
      margin: 0 auto;
      text-align: center;
    }

    @media (max-width: $large) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      font-family: 'GT Pressura';
      font-weight: normal;
      font-size: 17px;
      padding-right: 25px;

      &:last-child {
        padding-right: 0;
      }

      @media (max-width: $xlarge) {
        display: inline-block;
      }

      @media (max-width: $large) {
        padding: 0 17px;
      }

      span {
        font-weight: bold;
        margin-right: 4px;
      }
    }
  }
}

footer {
  padding: $padding;
  display: flex;

  @media (max-width: $medium) {
    padding: $padding $padding_small;
  }

  .logo {
    background-image: image-url("footer_logo.svg");
    width: 34px;
    height: 34px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 auto;
  }
}

.arrow {
  &.prev, &.next {
    margin-top: 8px;

    &:before, &:after {
      background-size: 100%;
      background-repeat: no-repeat;
      width: 22px;
      height: 12px;
      display: inline-block;
      content: '';
      position: relative;

      @media (max-width: $small) {
        width: 20px;
        height: 12px;
      }
    }
    @media (max-width: $small) {
      font-size: 15px;
    }
  }

  &.prev {
    &:before {
      background-image: image-url("arrow-right.svg");
      transform: rotate(180deg);
      margin-right: 14px;
      top: -1px;

      @media (max-width: $small) {
        margin-right: 10px;
      }
    }
  }

  &.next {
    &:after {
      background-image: image-url("arrow-right.svg");
      margin-left: 14px;

      @media (max-width: $small) {
        margin-left: 10px;
      }
    }
  }
}

.about_fred {

  img {
    display: inline-block;
    width: 300px;
    border-radius: 5px;
    margin: 0 40px 30px 0;
  }

  p {
    margin-top: 10px;
    max-width: 600px;
  }
}
