//path vars
$font-path: '../fonts/';

// logo vars
$background: #FEFCF8;
$primary: #484848;
$link_background: rgba(255,215,171,.47);
$border: #EAE8E4;
$orange: #FF9B87;

$padding: 25px;

$padding_small: 15px;


//white space
$ws1: 4px;
$ws2: 8px;
$ws3: 12px;
$ws4: 16px;
$ws5: 24px;
$ws6: 32px;
$ws7: 40px;
$ws8: 48px;
$ws9: 56px;


// breakpoints
$xlarge: 1300px;
$large: 1024px;
$medium: 750px;
$small: 500px;
