---
title: About Fred Chase Wood Craft
---

<%= partial 'header' %>

<div class="Wrapper about_fred">

<video autoplay loop muted poster="../assets/images/frame.png" id="turning">
   <source src="../assets/videos/jesse.mp4" type="video/mp4">
</video>


<!--   <ul class="images">
    <li><%#= image_tag 'fc5.jpg' %></li>
    <li><%#= image_tag 'fc3.jpg' %></li>
  </ul> -->

  <div class="about_content">
    <h1>About Fred Chase</h1>
    <p>I have been a licensed psychologist for 36 years. Over the past 3 years, I found a deep passion for wood turning. I work mostly with 'green' wood, which is freshly fallen wood that occurs locally after storms or arborists cutting down trees. I love the process of finding out what's inside of the tree, and then working with the wood, trying to shape something interesting out of it. Because the wood is green, it typically 'moves' after turning, which results in unique and 'imperfect' shapes. I embrace the warping that occurs. I hope you will too.</p>
    <p>My ultimate goal is to create wood bowls, vessels, and forms that are a pleasure to the eye, the touch, and which provoke lively conversations as the bowl travels between fine craft and art.</p>
    <p>Email me at <a href="mailto:fredchasephd@gmail.com">fredchasephd at gmail dot com</a> to inquire about a store item or custom item.</p>
  </div>
</div>
