---
title: Fred Chase Wood Craft
---

<%= partial 'header' %>

<div class="Slide-container">
  <div class="Slide Slide--B"></div>
  <div class="Slide Slide--A"></div>
  <div class="Slide Slide--C"></div>
</div>
<!-- <a href="#" class="down"></a> -->
<%= partial 'work' %>
